# =========================================================
# Aplicación: EventConnect - Plataforma de gestión de eventos
# Archivo: .gitignore
# Descripción:
# Define los archivos y carpetas que no deben subirse
# al repositorio Git.
#
# Autores:
# - Mario Caudevilla Ruiz
# - Pablo Báscones
# - Mario Hernández
# - David Borrel
# =========================================================

# =========================================================
# ARCHIVOS COMPILADOS
# =========================================================

/dist
/tmp
/out-tsc
/bazel-out

# =========================================================
# NODE.JS
# =========================================================

/node_modules

npm-debug.log
yarn-error.log

# =========================================================
# IDES Y EDITORES
# =========================================================

.idea/
.project
.classpath

.c9/
*.launch

.settings/

*.sublime-workspace

# =========================================================
# VISUAL STUDIO CODE
# =========================================================

.vscode/*

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

.history/*

# =========================================================
# ARCHIVOS TEMPORALES Y CACHE
# =========================================================

/.angular/cache

.sass-cache/

/connect.lock

/coverage

/libpeerconnection.log

testem.log

/typings

__screenshots__/

# =========================================================
# VARIABLES DE ENTORNO
# =========================================================

.env
.env.*

!.env.example

# =========================================================
# PLAYWRIGHT
# =========================================================

/test-results

/playwright-report

/playwright/.cache

# =========================================================
# ARCHIVOS DEL SISTEMA
# =========================================================

.DS_Store

Thumbs.db